# Programación Python 101
## Semana 3 de Python

Tercera semana de Python

## Listas

son un tipo de objeto que almacenan valores del mismo tipo o diferente.

`lista_ejemplo = [1, 5., True, "Texto", None]`

In [1]:
lista_ejemplo = [1, 5., True, "Texto", None]
type(lista_ejemplo)

list

In [2]:
lista_ejemplo

[1, 5.0, True, 'Texto', None]

## Como declaramos las listas, arreglos o array

In [3]:
lista_ejemplo_2 = list()
print(lista_ejemplo_2)
print(type(lista_ejemplo_2))

[]
<class 'list'>

In [4]:
# Alternativamente podemos declarar una lista con dos corchetes
lista_ejemplo_3 = []
print(lista_ejemplo_3)
print(type(lista_ejemplo_3))

[]
<class 'list'>

In [5]:
lista_ejemplo_2 == lista_ejemplo_3

True

In [6]:
lista_ejemplo_2 > lista_ejemplo_3

False

In [7]:
lista_ejemplo

[1, 5.0, True, 'Texto', None]

In [8]:
# Para poder llamar el primer elemento
lista_ejemplo[0] # desde el índice 0 que sería posición 1

1

In [10]:
lista_ejemplo[2] # obtenemos el elemento de la posición 3 o índice 2

True

In [11]:
type(lista_ejemplo[2]) # obtenemos el tipo de valor del índice 2

bool

In [12]:
lista_ejemplo[-1] # obtenemos el valor de la última posición

In [13]:
type(lista_ejemplo[-1])

NoneType

In [14]:
lista_ejemplo[-2]

'Texto'

In [16]:
lista_ejemplo

[1, 5.0, True, 'Texto', None]

In [17]:
# comprobamos la equivalencia entre la posición -5 y el índice 0
lista_ejemplo[-5] == lista_ejemplo[0]

True

In [18]:
# Contar elementos del objeto list
len(lista_ejemplo)

5

In [19]:
# Manipulación de una lista
lista_nombres = ['Pepe', 'Lucia', 'Matias','Lucas','Federica']
lista_nombres

['Pepe', 'Lucia', 'Matias', 'Lucas', 'Federica']

In [20]:
type(lista_nombres)

list

In [21]:
# Utilizamos append() para añadir elementos a la lista original
lista_nombres.append('Maria')

In [22]:
lista_nombres

['Pepe', 'Lucia', 'Matias', 'Lucas', 'Federica', 'Maria']

In [27]:
# Slicing en listas
lista_nombres[1:3] # calcula el movimiento del índice 1 hasta el 3-1 = 2

['Lucia', 'Matias']

In [28]:
lista_nombres[1:2]

['Lucia']

Cómo calcula internamente el slicing con índices
```
[start:end-1]
```

In [29]:
lista_nombres[0:3] # movimiento desde el índice 0 hasta el 3-1 = 2

['Pepe', 'Lucia', 'Matias']

In [30]:
lista_nombres[:3] # es equivalente al anterior, solo que le indicamos hasta donde tiene que parar

['Pepe', 'Lucia', 'Matias']

In [33]:
lista_nombres

['Pepe', 'Lucia', 'Matias', 'Lucas', 'Federica', 'Maria']

In [32]:
lista_nombres[-2:-1]

['Federica']

In [34]:
lista_nombres[::2] # movimiento por índices por pares

['Pepe', 'Matias', 'Federica']

In [36]:
lista_nombres[::1]

['Pepe', 'Lucia', 'Matias', 'Lucas', 'Federica', 'Maria']

In [38]:
for name in lista_nombres:
    print(name)

Pepe
Lucia
Matias
Lucas
Federica
Maria

In [39]:
lista_nombres.pop()

'Maria'

In [40]:
lista_nombres

['Pepe', 'Lucia', 'Matias', 'Lucas', 'Federica']

In [41]:
'Maria' in lista_nombres

False

In [50]:
lista_nombres.append('Maria')

In [53]:
lista_nombres.append(None)

In [54]:
type(lista_nombres[-1])

NoneType

In [55]:
lista_nombres

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None]

In [56]:
lista_nombres[-2] == lista_nombres[-3]

True

In [57]:
lista_nombres.append(' Maria')

In [58]:
lista_nombres

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None,
 ' Maria']

In [59]:
len(lista_nombres[-1])

6

In [61]:
len(lista_nombres[-3])

5

In [65]:
lista_nombres[-1] > lista_nombres[-3]

False

In [67]:
str_1 = "A"
str_2 = "B"
len(str_2)

1

In [68]:
str_1 == str_2

False

In [70]:
str_1 < str_2

True

In [73]:
str_3 = ' '

In [74]:
len(str_3)

1

In [76]:
str_1 > str_3

True

In [77]:
str_a = "a"
str_A = "A"

In [79]:
str_a > str_A

True

In [81]:
var_num0 = 0
var_num1 = 1

In [82]:
var_num0 > var_num1

False

In [84]:
str(var_num1) > str_A

False

In [89]:
"1" == str(1)

True

In [90]:
1 == int("1")

True

In [91]:
1 == float("1")

True

In [94]:
var_num

1

In [93]:
str(var_num) # operaciones al vuelo

'1'

In [95]:
var_num = str(var_num) # operaciones permanente

In [96]:
var_num

'1'

In [97]:
var_num = int(var_num)
var_num

1

In [88]:
type(str(var_num1))

str

In [99]:
lista_nombres.pop() # eliminamos el último valor , mostrando el elemento eliminado

' Maria'

In [100]:
lista_nombres

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None]

In [101]:
'Maria' in lista_nombres

True

In [102]:
'Roberto' in lista_nombres

False

In [103]:
'Roberto' not in lista_nombres

True

In [104]:
lista_nombres * 3 # puedo aplicar operaciones con los objetos

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None,
 'Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None,
 'Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None]

In [109]:
lista_nombres == lista_nombres * 3

False

In [110]:
len(lista_nombres)

11

In [111]:
edades = [25, 31, 35, 40, 18, 25, 25, 26, 41, 50]

In [112]:
type(edades)

list

In [113]:
len(edades)

10

In [114]:
edades.append(61)

In [115]:
edades

[25, 31, 35, 40, 18, 25, 25, 26, 41, 50, 61]

In [116]:
edades.pop()

61

In [117]:
edades

[25, 31, 35, 40, 18, 25, 25, 26, 41, 50]

In [121]:
edades.sort() # esta operación modifica la estructura del objeto

In [122]:
edades

[18, 25, 25, 25, 26, 31, 35, 40, 41, 50]

In [123]:
edades.sort(reverse=True)

In [124]:
edades

[50, 41, 40, 35, 31, 26, 25, 25, 25, 18]

In [125]:
min(edades)

18

In [126]:
max(edades)

50

In [129]:
lista_nombres.count('Maria') # cuenta el número de ocurrencias

4

In [130]:
frase = "Hoy es un día soleado"
type(frase)

str

In [134]:
lista_words = frase.split(" ") # es un clásico ejemplo de construcción de una nueva lista

equivalente
```
lista_words = frase.split()
```

In [137]:
lista_words

['Hoy', 'es', 'un', 'día', 'soleado']

In [136]:
lista_words[0].lower()

'hoy'

In [138]:
# Volvemos a transformar en cadena de texto completa
' '.join(lista_words)

'Hoy es un día soleado'

In [144]:
frase_2 = "Hoy-es-un-día-soleado"
frase_2.split("-")

['Hoy', 'es', 'un', 'día', 'soleado']

In [145]:
lista_nombres

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None]

In [146]:
edades

[50, 41, 40, 35, 31, 26, 25, 25, 25, 18]

In [147]:
# Creamos listas anidades
lista_anidadas = [lista_nombres, edades]

In [148]:
lista_anidadas

[['Pepe',
  'Lucia',
  'Matias',
  'Lucas',
  'Federica',
  'Maria',
  'Maria',
  '',
  'Maria',
  'Maria',
  None],
 [50, 41, 40, 35, 31, 26, 25, 25, 25, 18]]

In [149]:
type(lista_anidadas)

list

In [150]:
lista_anidadas[0]

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None]

In [151]:
lista_anidadas[1]

[50, 41, 40, 35, 31, 26, 25, 25, 25, 18]

In [154]:
lista_anidadas[1].pop()

18

In [158]:
type(lista_anidadas[1])

list

In [159]:
lista_anidadas[0].append(9)

In [160]:
lista_anidadas[0]

['Pepe',
 'Lucia',
 'Matias',
 'Lucas',
 'Federica',
 'Maria',
 'Maria',
 '',
 'Maria',
 'Maria',
 None,
 9]

In [162]:
lista_anidadas[0][-1] = str(lista_anidadas[0][-1])

In [163]:
lista_anidadas[0][-1]

'9'