## Tuple

```
(ele_1, ele_2, ...)

In [1]:
edades = (12, 11, 10)

In [2]:
type(edades)

tuple

In [3]:
len(edades)

3

In [4]:
edades[0]

12

In [5]:
edades[0:2]

(12, 11)

In [6]:
edades[-1]

10

In [7]:
# la diferencia con lista
edades.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
edades.index

In [9]:
edades.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [36]:
edades

(12, 11, 10)

In [11]:
var_1 = "Maria"
var_2 = "Mario"
var_3 = "Marco"

In [14]:
var_1, var_2, var_3 = edades

In [15]:
edades

(12, 11, 10)

In [17]:
var_1

12

In [18]:
var_2

11

In [21]:
tuple("TheBridge")

('T', 'h', 'e', 'B', 'r', 'i', 'd', 'g', 'e')

In [22]:
tuple("TheBridge")[:3]

('T', 'h', 'e')

In [23]:
tupla_1 = tuple("TheBridge")[:3]
tupla_1

('T', 'h', 'e')

In [27]:
tupla_2 = tuple(["TheBridge", "School", 1, True])

In [28]:
tupla_2

('TheBridge', 'School', 1, True)

In [31]:
tupla_2 = str(tupla_2[2])

In [32]:
tupla_2

'1'

In [33]:
tupla_2 = tuple(["TheBridge", "School", 1, True])

In [34]:
tupla_2

('TheBridge', 'School', 1, True)

In [35]:
tupla_2[2] = str(tupla_2[2])

TypeError: 'tuple' object does not support item assignment

## Set

In [39]:
lista = list(range(1,50,2))
lista

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [41]:
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
[method for method in dir(lista) if not method.startswith("__")]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
lista + list(range(1,101,1))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [55]:
lista = ['Marco', 'Maria', 'Maria', 'Luca', 'Roberto']

In [56]:
lista

['Marco', 'Maria', 'Maria', 'Luca', 'Roberto']

In [58]:
list(set(lista))

['Maria', 'Marco', 'Luca', 'Roberto']

In [59]:
for ele in set(lista):
    print(ele)

Maria
Marco
Luca
Roberto

In [62]:
paises = ["France"] * 3 + ["España"] * 7

In [63]:
paises

['France',
 'France',
 'France',
 'España',
 'España',
 'España',
 'España',
 'España',
 'España',
 'España']

In [65]:
obj_set = set(paises)
print(type(obj_set))

<class 'set'>

In [66]:
obj_set[0]

TypeError: 'set' object is not subscriptable

In [67]:
obj_set

{'España', 'France'}

In [68]:
obj_set['France']

TypeError: 'set' object is not subscriptable

In [69]:
obj_set.pop()

'France'

In [70]:
obj_set

{'España'}

In [71]:
obj_set.add('France')

In [72]:
obj_set

{'España', 'France'}

In [73]:
obj_set.add('France')

In [74]:
obj_set

{'España', 'France'}

In [75]:
list(obj_set)

['España', 'France']

In [77]:
for ele in obj_set:
    print(ele.lower())

españa
france

In [80]:
obj_set[0]

TypeError: 'set' object is not subscriptable

In [81]:
dir(obj_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [82]:
[method for method in dir(obj_set) if not method.startswith("__")]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [83]:
paises

['France',
 'France',
 'France',
 'España',
 'España',
 'España',
 'España',
 'España',
 'España',
 'España']

In [84]:
set(paises)

{'España', 'France'}

In [87]:
paises_2 = ["UK"] * 4 + ["Portugal"] * 2 + ["Italy"] * 5 + ["España"] * 2
paises_2

['UK',
 'UK',
 'UK',
 'UK',
 'Portugal',
 'Portugal',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'España',
 'España']

In [88]:
set(paises_2)

{'España', 'Italy', 'Portugal', 'UK'}

In [90]:
set(paises).union(set(paises_2))

{'España', 'France', 'Italy', 'Portugal', 'UK'}

In [91]:
set(paises).intersection(set(paises_2))

{'España'}

In [92]:
# Es la diferencia entre el primer listado y el segundo
set(paises).difference(set(paises_2))

{'France'}